.my_diary {
    margin-top: 4.375vw;
}

.title {
    width: 17.89063vw;
    height: 2.5vw;
    color: #414141;
    font-family: Inter;
    font-size: 1.71875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.10938vw;
    letter-spacing: 0.11px;
}

.diary {

    width: 18.04688vw;
    height: 18.04688vw;
    border: 0.15625vw solid #707070;
    background: var(--27-custom-style, #FFF);
}

.calendar {
    width: 9.76563vw;
    height: 3.75vw;
    color: #414141;
    font-family: Inter;
    font-size: 1.40625vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875vw;
    letter-spacing: 0.09px;
    position: absolute;
    top: 1.25vw;
    left: 1.25vw;
}

.text {
    width: 15.625vw;
    height: 10.3125vw;
    color: #414141;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.32813vw;
    letter-spacing: 0.06px;
    position: absolute;
    top: 5.625vw;
    left: 1.25vw;
}