.container {
    margin-top: 56px;
}

.column {
    width: 234px;
    height: 234px;
    position: relative;
}

.column>img {
    width: 100%;
    height: 144px;
}

.date_time {
    width: 144px;
    height: 24px;
    background-color: #FFCC21;
    position: absolute;
    top: 120px;
    line-height: 24px;
}

.date_time span {
    margin-left: 8px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.description {
    margin-top: 5px;
    width: 232px;
    height: 48px;
    color: #414141;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.075px;
}

.hash_tag {
    display: flex;
    width: 232px;
    height: 24px;
    /* justify-content: center;  */
    align-items: center;
    color: #FF963C;
    font-family: Hiragino Kaku Gothic Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.06px;
}
@media (max-width: 1023px){
    .container {
        margin-top: 4.375vw;
    }
    
    .column {
        width: 18.28125vw;
        height: 18.28125vw;
    }
    
    .column>img {
        width: 100%;
        height: 11.25vw;
    }
    
    .date_time {
        width: 11.25vw;
        height: 1.875vw;
        top: 9.375vw;
        line-height: 1.875vw;
    }
    
    .date_time span {
        margin-left: 0.625vw;
        font-size: 1.17188vw;
    }
    
    .description {
        margin-top: 0.39063vw;
        width: 18.125vw;
        height: 3.75vw;
        font-size: 1.17188vw;
        line-height: 1.71875vw;
        letter-spacing: 0.075px;
    }
    
    .hash_tag {
        width: 18.125vw;
        height: 1.875vw;
        font-size: 0.9375vw;
        line-height: 1.71875vw;
        letter-spacing: 0.06px;
    }
}